<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Chez Pierre", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right", id="nav_bar">
          <li><%= link_to "Stores", stores_path %></li>


        </ul>
      </nav>
    </div>
  </div>
</header>
